.dashboardTop {
  background: #e4edfc;
  border-radius: 20px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}
.dashboardGreeting {
  margin: auto auto auto 50px;
}

.dashboardCount {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
  height: 150px;
}
.img {
  width: 120px;
  height: 200px;
  margin-top: -50px;
}
.img1 {
  width: 110px;
  height: 130px;
  margin-top: 20px;
  margin-left: 50px;
}
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 19px;
  color: #0a2147;
}
.dashboardTop p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #586780;
  padding-top: 20px;
}
.mainCard {
  width: 283px;
  height: 134px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.userCard {
  width: 267px;
  height: 382px;
  background: #ebf7fb;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cardSplit {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
}
.cardSplit > div {
  text-align: center;
  width: 50%;
}
.cardSplit h2 {
  margin-bottom: 10px;
}
.cardBottom {
  width: 191px;
  height: 37px;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  padding: 10px 0px;
}
.cardTitle {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.cardTitle h4 {
  margin: 10px 0px;
}
.userCardHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0px 20px;
}
.userAddedList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.planCardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.planCard {
  width: 220px;
  height: 250px;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.planCardHeader {
  margin: 50px auto;
  align-items: center;
  text-align: center;
  color: #fff;
}
.planCardHeader > h5 {
  font-size: 20px;
  text-decoration: underline;
}
.planCardHeader > p {
  font-size: 13px;
  margin-bottom: -25px;
}
.planCardContent li {
  color: #fff;
  list-style: none;
  margin-bottom: 5px;
}

.settingHeader {
  display: flex;
  font-size: 15px;
  color: #3578e5;
  border: 1px solid #3578e5;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}
.settingHeader > h5 {
  cursor: pointer;
  padding: auto 10px;
  width: 100px;
  padding-top: 6px;
  padding-left: 6px;
}
.siteSettingP {
  width: 276px;
  height: 50px;
  background: #90b5f1;
  border: 1px solid hsl(217, 78%, 75%);
  box-sizing: border-box;
  border-radius: 0px 0px 20px 20px;
  margin: 0px auto;
  color: #52575c;
  text-align: center;
  padding: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #666666;
}
.show {
  color: #fff;
  display: flex;
  text-align: center;
}
.show1 {
  display: none;
}
.siteSetting {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
.siteSettingDiv {
  width: 275px;
  background: #e9e7e7;
  border-radius: 20px;
  margin: 20px;
  padding: 20px 0px;
}
/* .siteFormInputBtn {
  padding: 10px 0px;
  width: 150px;
  border-radius: 10px 15px 15px 10px;
  margin: 10px 25px;
} */
.siteFormInputBtn {
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #3578e5;
  padding: 10px 0px;
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px 20px;
}
.siteSettingDivInp {
  width: 239px;
  height: 73px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0px auto;
}
.DivInp {
  padding: 8px 50px;
  font-size: 25px;
}

.siteFormInput > input {
  padding-left: 20px;
  width: 230px;
  height: 50px;
  border: 1px solid #3578e5;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px 0px;
}
.siteFormInput {
  margin-left: 20px;
}
.settingTop {
  margin-top: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0a2147;
}
table {
  overflow-x: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
   width: 100%; 
  border: 1px solid #ddd;
}
.tableHeader {
  background: #3578e5;
  color: #fff;
  text-align: left;
  text-align: center;
  display: flex;
}
.tableBody {
  text-align: center;
  border-bottom: 1px solid gray;
  display: flex;
}
.listName {
  text-align: center;
  width: 150px;
  padding: 5px 0px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.paginationBtn {
  margin: 10px;
  color: #3578e5;
  text-align: center;
  padding: 15px auto;
  width: 80px;
  font-size: 25px;
  border: 1px solid #3578e5;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
  height: 30px;
}

.paymentSetting {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  justify-content: space-between;
  text-align: center;
  padding: 25px;
  width: 1000px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.paymentSetting > h5 {
  text-align: start;
}
.paymentSetting > p {
  cursor: pointer;
}
.emailSettings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 10px;
}
.emailSettingsBtn {
  display: flex;
  justify-content: space-between;
}
.sitePayment {
  display: flex;
  margin: 20px 0px;
  padding: 20px;
  justify-content: space-between;
}
.sitePayment > .siteFormInput > input {
  width: 500px;
  height: 52px;
  border: 2px solid #3578e5;
  box-sizing: border-box;
  border-radius: 10px;
}
.payCollaspeDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.campaignPage {
  text-align: center;
  margin-top: 50px;
}
.free {
  text-align: center;
  padding: auto;
  height: 300px;
}
.freeMove {
  text-align: center;
  height: 80px;
  padding: auto;
}
.users_heading {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.users_heading h1 {
  font-size: 20px;
}

.users_heading p{
  color: #3521b5;;
}
.profile_Page {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.admin_details {
  padding: 15px;
  margin: 10px;
  width: 60%;
  background-color: white;
}
.positionDetails {
  margin: 50px auto;
  align-items: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.userList{
  display:flex;
  align-items: center;
  padding-left: 20px ;
  text-transform: capitalize;
}
.userList > p{
  margin-left: 10px;
}

.tdata{
margin: 5px;
text-align: left;
padding: 8px;

}
.thead{
  margin: 5px;
  text-align: left;
  padding: 8px;
}
.tcenter{
  text-align: center;
}
.buttonEdit{
display: flex;
text-align: center;
justify-content: center;

}
.detailsButton{
  cursor: pointer;
  margin: 2px;
  width: 60px;
  height: 30px;
  font-size: 12px;
  border-radius: 1px solid gray;
  background-color: #f55;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: auto;
}
.switchContainer{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;

}
.boxes{
  border-radius: 8px;
  border: 1px solid firebrick;
  margin: 10px;
}
.textBox{
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
  border-bottom: 1px solid grey;

}
.textDetails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 20px;
}
.textDetails > .textIndex{
  border-bottom: 2px solid #3521b5;
}
.messageDetails{
  width: 60%;
}

.h3Space{
  width: 150px;
  margin-right:  20px;
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
  .show {
    display: none;
  }
  .show1 {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 441px) and (max-width: 768px) {
  .dashboardTop {
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 20px 0px;
  }
  .img1 {
    display: none;
  }
  .dashboardCount {
    display: inline-block;
    margin: auto;
    width: 75vw;
  }
  .mainCard {
    width: 100%;
    padding: 5px 0px;
    height: 110px;
    margin: 10px 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dashboardGreeting {
    margin: auto auto auto 10px;
  }
  .userAddedList {
    display: inline-grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr;
  }
  .planCardList {
    display: inline-grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr;
  }
  .siteSetting {
    display: inline-block;
    justify-content: space-around;
    padding: 10px 0px;
    margin-left: -10px;
  }
  .emailSettings {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 10px;
  }
  .emailSettingsBtn {
    display: flex;
    justify-content: space-around;
  }
  .emailSettingsBtn > .siteFormInputBtn {
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #3578e5;
    padding: 10px 0px;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
  }
  .sitePayment {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 20px;
    justify-content: space-between;
  }
  .sitePayment > .siteFormInput > input {
    width: auto;
    height: 52px;
    border: 2px solid #3578e5;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .paymentSetting {
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.5fr;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2-5);
  }
  .payCollaspeDetail {
    display: grid;
    grid-template-columns: 1fr;
  }
  .campaignPage {
    text-align: center;
    margin-top: 100px;
  }
  .free {
    text-align: center;
    padding: auto;
  }
  .freeMove {
    text-align: center;
    height: 150px;
    width: 90%;
    padding: 20px;
  }
  .show {
    display: none;
  }
  .show1 {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 440px) {
  .dashboardTop {
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 20px 0px;
  }

  .img,
  .img1 {
    display: none;
  }
  .dashboardCount {
    display: inline-block;
    margin: auto;
    width: 75vw;
  }
  .mainCard {
    width: 100%;
    padding: 5px 0px;
    height: 110px;
    margin: 10px 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dashboardGreeting {
    margin: auto auto auto 10px;
  }
  .userAddedList {
    display: inline-block;
    width: 80vw;
  }
  .planCardList {
    display: block;
    width: 80vw;
  }
  .siteSetting {
    display: inline-block;
    justify-content: space-around;
    padding: 10px 0px;
    margin-left: -10px;
  }
  .emailSettings {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 10px;
  }
  .emailSettingsBtn {
    display: flex;
    justify-content: space-around;
  }
  .emailSettingsBtn > .siteFormInputBtn {
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #3578e5;
    padding: 10px 0px;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
  }
  .sitePayment {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 20px;
    justify-content: space-between;
  }
  .sitePayment > .siteFormInput > input {
    width: auto;
    height: 52px;
    border: 2px solid #3578e5;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .paymentSetting {
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.5fr;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2-5);
  }
  .payCollaspeDetail {
    display: grid;
    grid-template-columns: 1fr;
  }
  .campaignPage {
    text-align: center;
    margin-top: 100px;
  }
  .free {
    text-align: center;
    padding: auto;
  }
  .freeMove {
    text-align: center;
    height: 80px;
    width: 280px;
    padding: 8px;
  }
  .show {
    display: none;
  }
  .show1 {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }
}
